@use '../variables' as *;

.job {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 10px;
    border-radius: 6px;
    border: 1px solid transparent;
    border-left: 4px solid $success-color;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
        border: 1px solid #f0f0f0;
        box-shadow: 0px 4px 16px 0px #0000001f;
    }
}

.job-highlight {
    border-right: 4px solid $error-color !important;
    border-left: 4px solid $error-color !important;
}

.job__datetime {
    font-weight: 500;
    color: #b5b5b5;
}

.job__salary,
.job__location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-large-size;
}

.job__salary {
    font-weight: 500;
    color: $success-color;
}

.job__salary span,
.job__location span {
    margin-left: 10px;
}
