@use '../variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    padding: 0 30px;
    box-shadow: 0 2px 8px rgba(172, 172, 172, 0.1);
    background: linear-gradient(269.85deg, #54151c 0%, #121212 54.89%);
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.header__logo {
    width: 40px;
    cursor: pointer;
    user-select: none;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    font-weight: 600;
    font-size: $font-large-size;

    list-style: none;
}

.header__nav-item {
    height: 100%;
    align-content: center;
    color: $text-white-color;
    user-select: none;
    cursor: pointer;
    transition: color 0.1s ease-out;

    &:hover {
        color: $success-color;
        text-decoration: none;
    }
}

.header__right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    position: relative;
}

.header__user {
    position: relative;
    user-select: none;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 10px;
        background-color: transparent;
    }
}

.header__user:hover + .header__dropdown {
    display: block;
}

.header__user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dfe0e2;
    background-color: $background-white-color;
}

.header__user-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: $font-small-size;
    color: $text-white-color;
    background-color: $success-color;
    border: 2px solid #ffff;
    border-radius: 50%;
    user-select: none;
}

.header__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    list-style: none;
    border-radius: 8px;
    border: 1px solid rgb(240, 235, 235);
    background-color: #f9fafb;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:hover {
        display: block;
    }
}

.header__dropdown-link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    padding: 10px 20px;
    user-select: none;
    color: $text-black-color;
    transition: all 0.1s ease-out;

    &:hover {
        color: $success-color;
        text-decoration: none;
        background-color: $background-white-color;
    }
}
