@use '../variables' as *;

.badge {
    display: inline-block;
    padding: 6px 12px;
    min-width: 80px;
    border-radius: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}

.badge-accepted {
    color: $success-color;
    background-color: #d0f8e9;
}

.badge-pending {
    color: $warning-color;
    background-color: #fff4d3;
}

.badge-rejected {
    color: $error-color;
    background-color: #ffe1e1;
}
