@use '../variables' as *;

.btn {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: unset;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #eff1f3;
    }
}

.btn-edit {
    color: $primary-color;

    &:hover {
        color: #1364e7;
    }
}

.btn-delete {
    color: $error-color;

    &:hover {
        color: #f70c0c;
    }
}

.btn-download {
    color: $text-black-color;

    &:hover {
        color: #1f1e1e;
    }
}
