.spinner {
    padding: 50px;
    text-align: center;
}

.spinner__rotate {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(67, 89, 216);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner__label {
    font-style: italic;
}
