@use '../variables' as *;

$chat-frame-height: 420px;
$chat-header-height: 44px;

@mixin bottom-right-position($bottom, $right, $zIndex: 1) {
    position: fixed;
    right: $right;
    bottom: $bottom;
    z-index: $zIndex;
}

.chat-frame {
    @include bottom-right-position(30px, 30px);
    width: 320px;
    height: $chat-frame-height;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: popup 0.25s ease-out;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 12px;
    font-weight: bold;
    color: $text-white-color;
    background-color: #4a90e2;
}

.chat-header__name {
    text-decoration: none !important;
    color: $text-white-color;
}

.chat-header__close-btn {
    font-size: $font-large-size;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chat-body {
    height: calc($chat-frame-height - $chat-header-height);
}

.chat-popup-btn {
    @include bottom-right-position(30px, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #059669;
    }
}

.chat-popup-btn__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
