@use '../variables' as *;

.chat-frame {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 320px;
    height: 420px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: popup 0.25s ease-out;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-weight: bold;
    color: white;
    background-color: #4a90e2;
}

.chat-header__close-btn {
    font-size: $font-large-size;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chat-body {
    flex: 1;
    width: 100%;
    padding: 12px;
    overflow-y: auto;

    // &::-webkit-scrollbar {
    //     width: 4px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: rgb(211, 211, 211);
    //     border-radius: 4px;

    //     &:hover {
    //         background: rgb(167, 167, 167);
    //     }
    // }
}

.chat-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid rgb(211, 211, 211);
    background-color: #fff;
    overflow: hidden;
}

.chat-footer__input {
    flex: 1;
    height: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: unset;
}

.chat-footer__submit-btn {
    height: 30px;
    width: 30px;
    font-weight: 500;
    margin: 8px 10px 8px 0px;
    border-radius: 50%;
    border: 1px solid $success-color;
    color: $text-white-color;
    background-color: $success-color;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #059669;
    }

    &:active {
        background-color: #08b880;
    }
}

.chat-footer__submit-btn.chat-footer__submit-btn--disabled {
    color: grey;
    background-color: $background-white-color !important;
    border: 1px solid #dfdfdf;
    cursor: not-allowed;
}

// ---------------------
.chat-popup-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #059669;
    }
}

.chat-popup-btn__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
