@use '../variables' as *;

// Show CV modals
.show-cv-modal-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.show-cv-modal-info__personal-data {
    flex: 0 0 50%;
    min-width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.show-cv-modal-ai-review {
    margin-top: 10px;
    margin-bottom: 20px;
}

.show-cv-modal-ai-review__assessment {
    padding: 12px 15px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #d7e3f1;
    background-color: $background-white-color;
    white-space: pre-line;
}

.show-cv-modal-iframe-container {
    margin-top: 1rem;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

// Edit CV modals
.edit-modal-form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-modal-form-group__label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #374151;
}

.edit-modal-form-group__entry {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background-color: transparent;
}

.edit-cv-modal-form-submit-btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    color: $text-white-color;
    background-color: $success-color;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #059669;
    }

    &:active {
        background-color: #08b880;
    }
}
