@use '../variables' as *;

.jd {
    position: relative;
}

.jd:not(:last-child) {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #e5ecf5;
}

.jd__action {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
}

.jd__title {
    position: relative;
    font-size: $font-large-size;
    cursor: pointer;
}

.jd__title strong {
    font-weight: 600;
}

.jd__title-label-status-closed {
    color: $warning-color;
}

.jd__title-label-status-opening {
    color: $success-color;
}

.jd__require {
    padding-top: 20px;
}

.jd__require-title {
    color: #868686;
}

.jd__require-frame {
    padding: 14px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #d7e3f1;
    background-color: $background-white-color;
    white-space: pre-line;
}

.jd__require-frame-item {
    margin-left: 14px;
}

// form
.edit-jd-form__group-label {
    display: inline-block;
    color: #868686;
    margin: 10px 0;
}

.edit-jd-form__group-entry {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    width: 100%;

    &:focus {
        border-color: $primary-color;
        background: #fff;
        outline: none;
    }
}

.form-action {
    display: flex;
    justify-content: right;
    align-content: center;
    gap: 10px;
    margin-top: 20px;
}

.form-action__btn {
    font-weight: 500;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-action__btn--submit {
    color: $text-white-color;
    background-color: $success-color;

    &:hover {
        background-color: #059669;
    }

    &:active {
        background-color: #08b880;
    }
}

.form-action__btn--cancel {
    border: 1px solid #dadadb;
    background-color: $background-white-color;

    &:hover {
        background-color: #e5e5e6;
    }

    &:active {
        background-color: #dcdfe4;
    }
}
