@use '../variables' as *;

.admin-cv-list {
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
}

.cv-list-header__title {
    font-weight: 600;
}

.cv-list-header__subtitle {
    color: #6b7280;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cv-list-filter {
    justify-content: right;
}

.cv-list-filter__sort-btn,
.edit-cv-modal-form-submit-btn {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: $font-small-size;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    color: $text-white-color;
    background-color: #10b981;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #059669;
    }

    &:active {
        background-color: #08b880;
    }
}

.cv-list-filter__sort-btn-arrow {
    display: inline-block;
    margin-left: 4px;
    transition: transform 0.3s ease;
}

.cv-list-filter__sort-btn-arrow.cv-list-filter__sort-btn-arrow--active {
    transform: rotate(180deg);
}

.cv-list-filter__input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    width: 100%;
}

.cv-list-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.cv-list-table__title,
.cv-list-table__value {
    padding: 12px 14px;
    text-align: left;
    color: $text-black-color;
    border-bottom: 1px solid #e5e7eb;
}

.cv-list-table__title {
    font-weight: 600;
    color: #374151;
    background: #f9fafb;
}

.cv-list-table__action {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.cv-list-table__action-btn {
    padding: 8px;
    cursor: pointer;
    border: none;
    color: $primary-color;
    background-color: transparent;
}

.cv-list-table__action-btn.cv-list-table__action-btn--delete {
    color: grey;

    &:hover {
        color: $error-color;
    }
}

// Show CV modals
.show-cv-modal-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.show-cv-modal-info__personal-data {
    flex: 0 0 50%;
    min-width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.show-cv-modal-body,
.show-cv-modal-review {
    margin-top: 10px;
    margin-bottom: 20px;
}

.show-cv-modal-review__assessment {
    padding: 12px 15px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #d7e3f1;
    background-color: $background-white-color;
    white-space: pre-line;
}

.show-cv-modal-iframe-container {
    margin-top: 1rem;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

// Edit CV modals
.edit-cv-modal-form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-cv-modal-form-group__label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #374151;
}

.edit-cv-modal-form-group__entry {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background-color: transparent;
}

.edit-cv-modal-form-submit-btn {
    margin-top: 12px;
}
