apiVersion: v1
kind: Service
metadata:
  name: {{ template "grafana.name" . }}
spec:
  selector: {{- include "grafana.selectorLabels" . | nindent 4 }}
  type: {{ .Values.grafana.service.type }}
  ports:
    - port: {{ .Values.grafana.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http