fastapi==0.115.6
langchain-community==0.3.17
langchain-huggingface==0.1.1
langchain-qdrant==0.2.0
ollama==0.4.7
python-multipart==0.0.20
qdrant_client==1.13.2
sentence-transformers==3.4.1
uvicorn==0.34.0
langchain-qdrant==0.2.0
python-jose[cryptography]==3.3.0