$font-family: 'Segoe UI', Tahoma, sans-serif;

$font-large-size: 1.6rem;
$font-medium-size: 1.4rem;
$font-small-size: 1.3rem;

$text-black-color: #333;
$text-white-color: #fcfcfc;

$primary-color: #3b82f6;
$success-color: #10b981;
$warning-color: #e4ba48fd;
$error-color: #ef4444;

$background-white-color: #f3f4f6;

$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
