{{- $g := fromJson (include "soai-application.global" .) -}}
{{- if $g.security.tls.enabled }}
# TLS Server TLS Secret
apiVersion: v1
kind: Secret
metadata:
  name: ca-cert
type: kubernetes.io/tls
data:
  tls.crt: {{ .Files.Get "files/ca.crt" | b64enc }}
  tls.key: {{ .Files.Get "files/ca.key" | b64enc }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ $g.security.issuer.name }}
  namespace: {{ .Release.Namespace }}
spec:
  ca:
    secretName: ca-cert
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ template "soai-application.name" . }}-tls
  namespace: {{ .Release.Namespace }}
spec:
  secretName: {{ template "soai-application.name" . }}-cert
  duration: {{ $g.security.tls.duration }}
  renewBefore: {{ $g.security.tls.renewBefore }}
  commonName: {{ template "soai-application.name" . }}
  dnsNames:
    {{- include "soai-application.FQDN" (list .) }}
  {{- if not (empty .Values.issuer.ipAddress) }}
  ipAddresses:
    {{- range $ip := .Values.issuer.ipAddress }}
    - {{ $ip }}
    {{- end }}
  {{- end }}
  issuerRef:
    name: {{ $g.security.issuer.name }}
    kind: {{ $g.security.issuer.kind }}
    group: {{ $g.security.issuer.group }}
---
{{- end }}
# MySQL Secret Key
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "soai-mysql.name" . }}-secret
type: Opaque
{{ include "soai-mysql.secrets" . }}
---
# Server Opaque Secret
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "soai-authentication.name" . }}-secret
type: Opaque
{{ include "soai-authentication.secrets" . }}
---
# OPENAI Secret Key
apiVersion: v1
kind: Secret
metadata:
  name: openai-secret
type: Opaque
data:
  openai-key: {{ .Values.openai.apiKey | b64enc }}