apiVersion: v1
kind: ConfigMap
metadata:
  name: soai-monitor-configmap
data:
  otel-collector-config.yaml: |
    {{- $g := fromJson (include "soai-application.global" . ) }}
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

      hostmetrics:
        collection_interval: 10s
        scrapers:
          cpu: {}
          memory: {}
          disk: {}
          filesystem: {}
          network: {}
          load: {}

      prometheus:
        config:
          scrape_configs:
            - job_name: 'otel-collector'
              scrape_interval: 10s
              static_configs:
                - targets: ['0.0.0.0:8888']
            - job_name: 'soai_services'
              scheme: {{ ternary "https" "http" $g.security.tls.enabled | quote }}
              {{- if $g.security.tls.enabled }}
              tls_config:
                ca_file: {{ .Values.server.secretsPath.certPath }}/ca.crt
                cert_file: {{ .Values.server.secretsPath.certPath }}/tls.crt
                key_file: {{ .Values.server.secretsPath.certPath }}/tls.key
                insecure_skip_verify: false
              {{- end }}
              metrics_path: /metrics
              static_configs:
                - targets:
                    - {{ printf "%s.%s.svc:%s" (include "soai-genai.name" .) .Release.Namespace (ternary .Values.server.genai.httpsPort .Values.server.genai.httpPort $g.security.tls.enabled) | quote }}
                    - {{ printf "%s.%s.svc:%s" (include "soai-recruitment.name" .) .Release.Namespace (ternary .Values.server.recruitment.httpsPort .Values.server.recruitment.httpPort $g.security.tls.enabled) | quote }}
              relabel_configs:
                - source_labels: [__address__]
                  regex: '(.*):.*'
                  target_label: instance
                  replacement: '$1'
                - source_labels: [__address__]
                  target_label: service
                  regex: 'genai:.*'
                  replacement: 'gen_ai_provider'
                - source_labels: [__address__]
                  target_label: service
                  regex: 'recruitment:.*'
                  replacement: 'recruitment_agent'

            - job_name: 'authentication_service'
              scheme: {{ ternary "https" "http" $g.security.tls.enabled | quote }}
              {{- if $g.security.tls.enabled }}
              tls_config:
                ca_file: {{ .Values.server.secretsPath.certPath }}/ca.crt
                cert_file: {{ .Values.server.secretsPath.certPath }}/tls.crt
                key_file: {{ .Values.server.secretsPath.certPath }}/tls.key
                insecure_skip_verify: false
              {{- end }}
              metrics_path: /actuator/prometheus
              static_configs:
                - targets:
                    - {{ printf "%s.%s.svc:%s" (include "soai-authentication.name" . ) .Release.Namespace (ternary .Values.server.authentication.httpsPort .Values.server.authentication.httpPort $g.security.tls.enabled) | quote }}
              relabel_configs:
                - source_labels: [__address__]
                  regex: '(.*):.*'
                  target_label: instance
                  replacement: '$1'
                - source_labels: [__address__]
                  target_label: service
                  regex: 'authentication:.*'
                  replacement: 'authentication_service'

    exporters:
      clickhouse:
        endpoint: tcp://clickhouse:9000
        username: soai_user
        password: soai_password
        database: otel
        create_schema: true
        logs_table_name: otel_logs
        traces_table_name: otel_traces
        metrics_table_name: otel_metrics
        timeout: 5s
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_interval: 30s
          max_elapsed_time: 300s

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 1000
        spike_limit_mib: 200

      k8sattributes:
        auth_type: serviceAccount
        filter:
          namespace: "{{ .Release.Namespace }}"
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.deployment.name
            - k8s.statefulset.name
            - k8s.daemonset.name
            - k8s.cronjob.name
            - k8s.job.name
            - k8s.node.name
            - k8s.pod.name
            - k8s.pod.uid
            - k8s.pod.start_time
            - container.image.name
            - container.image.tag
            - k8s.container.name
        pod_association:
          - sources:
              - from: resource_attribute
                name: k8s.pod.ip
          - sources:
              - from: resource_attribute
                name: k8s.pod.uid
          - sources:
              - from: connection

      resource:
        attributes:
          - action: insert
            from_attribute: k8s.pod.uid
            key: service.instance.id

      batch:
        send_batch_size: 10000
        timeout: 10s

      transform:
        error_mode: ignore
        metric_statements:
          - context: datapoint
            statements:
              - set(attributes["k8s_cluster_name"], resource.attributes["k8s.cluster.name"])
              - set(attributes["namespace"], resource.attributes["k8s.namespace.name"])
              - set(attributes["container"], resource.attributes["k8s.container.name"])
              - set(attributes["pod"], resource.attributes["k8s.pod.name"])

      transform/logs:
        error_mode: ignore
        log_statements:
          - context: resource
            statements:
              - keep_keys(attributes, ["k8s.namespace.name", "k8s.container.name", "k8s.pod.name"])
          - context: log
            statements:
              - set(attributes["namespace"], resource.attributes["k8s.namespace.name"])
              - set(attributes["container"], resource.attributes["k8s.container.name"])
              - set(attributes["pod"], resource.attributes["k8s.pod.name"])
              - set(attributes["message"], body)
              - set(body, "")
              - delete_key(resource.attributes, "k8s.namespace.name")
              - delete_key(resource.attributes, "k8s.container.name")
              - delete_key(resource.attributes, "k8s.pod.name")

    service:
      telemetry:
        metrics:
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 0.0.0.0
                    port: {{ .Values.otel.metricsPort }}
        logs:
          encoding: json

      pipelines:
        metrics/primary:
          receivers: [otlp, hostmetrics, prometheus]
          processors: [memory_limiter, k8sattributes, resource, transform, batch]
          exporters: [clickhouse]

        traces:
          receivers: [otlp]
          processors: [k8sattributes, batch]
          exporters: [clickhouse]

        logs:
          receivers: [otlp]
          processors: [k8sattributes, transform/logs, batch]
          exporters: [clickhouse]


  otel-user.xml: |
    <yandex>
      <users>
        <soai_user>
          <password>soai_password</password>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>default</profile>
          <quota>default</quota>
        </soai_user>
      </users>
    </yandex>
