{{- if .Values.alertmanager.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
data:
{{ (.Files.Glob "alert-manager/alertmanager.yml").AsConfig | indent 2 }}
{{- end }}

