apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "prometheus.name" . }}
spec:
  serviceName: {{ template "prometheus.name" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "prometheus.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "prometheus.labels" . | nindent 8 }}
    spec:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      containers:
        - name: prometheus
          image: {{ .Values.prometheus.image }}
          imagePullPolicy: IfNotPresent
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--web.enable-lifecycle"
            # Enable receiving remote_write from OTel Collector
            - "--web.enable-remote-write-receiver"
            - "--web.enable-otlp-receiver"
            - "--enable-feature=otlp-write-receiver"
          ports:
            - name: http
              containerPort: 9090
          {{- with .Values.prometheus.resources }}
          resources:
            {{ toYaml . | nindent 12 }}
          {{- end }}

          livenessProbe:
            httpGet:
              path: /-/healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: prometheus-tsdb-configmap
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.prometheus.persistentVolume.size }}
