# Ignore dependencies and build artifacts
recruitment-app/.vscode
recruitment-app/node_modules
recruitment-app/build
recruitment-app/*.log

# Ignore version control and environment config
recruitment-app/.git
recruitment-app/.gitignore
recruitment-app/.env
recruitment-app/.env.*         # if using dotenv variants

# Ignore Docker context noise
*.log
.git
Dockerfile

# Ignore CI configs (if not used in container)
.github
.gitlab